<div>
    <oc-component href = "http://localhost:3030/header/1.0.0/?userId=1"></oc-component>
    <oc-component href = "http://localhost:3030/hero/1.0.0/?userId=1"></oc-component>
    <oc-component href = "http://localhost:3030/footer/1.0.0/"></oc-component>
</div>